<div class="home-page">
  <h1>Rails.Trello</h1>
  <div class="home-desc">
    Управляйте задачами как профи с канбан
  </div>
  <div class="home-button">
    <a class="btn" href="/signup">Начать работу</a>
    <a class="link" href="/login">Войти</a>
  </div>
</div>